.title{
    text-align: center;
    color:white;
    font-size: 49px;
    background-color: darkred;
}

.alert{
    text-align: center;
    font-size: 32px;
}

.kidz{
    font-size: 29px;
    margin-left: 100px;
}

.big-number{
    font-size: 44px;
    margin-left: 100px;
}

.transparent{
    color:transparent;
}