<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <link rel="stylesheet" href="Style.css">
    <meta charset="UTF-8">
    <title></title>
    <script src="main.js"></script>
</head>
<body ng-app="myApp" ng-controller="myCtrl as ct">

    <div class="no-print">
        <select ng-model="ct.type" ng-change="ct.change()">
            <option value="additon">additon</option>
            <option value="subtract">sbtract</option>
            <option value="add+sub">add+sub</option>
            <option value="multiply">multiply</option>
        </select>
    </div>

    <div ng-repeat="row in ct.questions track by $index" class="big-number">
        <span class="transparent">{{row.sign}}</span>
        {{row.number1}}
        <br/>
        <span>{{row.sign}}</span>
        {{row.number2}}
        <br/>--------<br/><br/>
    </div>

    <br/>

    <div ng-repeat="row in ct.questions track by $index" class="big-number">
        <span class="transparent">{{row.sign}}</span>
        {{row.number1}}
        <br/>
        <span>{{row.sign}}</span>
        {{row.number2}}
        <br/>--------<br/>
        {{row.correctAnswer}}
    </div>

</body>
</html>