<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <link rel="stylesheet" href="style.css">
    <meta charset="UTF-8">
    <title></title>
    <script src="main.js"></script>
</head>
<body ng-app="myApp" ng-controller="myCtrl as ct" ng-keydown="ct.keypress($event)">

<div class="game-board" ng-style="ct.gameBoard">

    <div class="lbl top-lbl-level">Level {{ct.level}}</div>
    <div class="lbl top-lbl-level">Score {{ct.score}}</div>
    <div class="lbl top-lbl-level">Correct {{ct.correct}}</div>
    <div class="lbl top-lbl-level">Wrong {{ct.wrong}}</div>
    <div class="lbl top-lbl-level">Time {{ct.time}}</div>

    <div class="play-area">
        <div ng-repeat="ch in ct.chars" class="character" ng-class="ct.prepareClass(ch)" ng-click="ct.selectChar(ch)">
            <span class="question" ng-class="{'sel-question':ch==ct.selectedChar}">
                {{ch.math.question}}<span ng-show="ch.math.answer!=''">={{ch.math.answer}}</span>
            </span>
        </div>
    </div>

</div>

</body>
</html>